<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
    <appSettings>
    <clear />
    <add key="active.connection" value="homesite.dev" />
      <add key="populate.data" value="true" />
  </appSettings>

  <connectionStrings>
    <clear />
    <add name="homesite.dev" connectionString="Server=127.0.0.1;Port=5432;Database=rickflagg.net;User Id=rickflagg.net_user;Password=homesite;" />
    <add name="homesite.test" connectionString="Server=127.0.0.1;Port=5432;Database=rickflagg.net;User Id=rickflagg_user;Password=0+d0|=V41Z&lt;SX(96;" />
    <add name="homesite.prod" connectionString="Server=127.0.0.1;Port=5432;Database=rickflagg.net;User Id=rickflagg_user;Password=0+d0|=V41Z&lt;SX(96;" />
  </connectionStrings>

    
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>