<div id="links">

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Links</h2>
            <hr>
        </div>
    </div>

    <div ng-controller="LinkController">

        <div ng-repeat="row in rows">

            <div class="row">

                <div class="col-md-4" ng-repeat="record in row">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="javascript:void(0);" ng-click="isCollapsed = !isCollapsed">{{record.categoryName}}</a>
                            </h3>
                        </div>
                        <div class="panel-body" ng-show="!isCollapsed">

                            <ul class="list-group" ng-repeat="link in record.links">
                                <li class="list-group-item">

                                    <dl>
                                        <dt><a href="{{link.url}}" target="_blank">
                                            <h4 class="list-group-item-heading">{{link.name}}</h4>
                                        </a></dt>
                                        <dd><p class="list-group-item-text">{{link.description}}</p></dd>
                                    </dl>

                                </li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>