<div id="skills" ng-controller="SkillsController">

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Skill Graphs</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4" ng-repeat="(key, value) in skills">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="javascript:void(0);" ng-click="isCollapsed = !isCollapsed">{{key}}</a>
                </div>
                <div class="panel-body" ng-show="!isCollapsed">
                    <div ng-repeat="matrix in value">
                        <div>
                            <h5>{{matrix.name}}</h5>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{matrix.rating}}" aria-valuemin="0" aria-valuemax="100" style="width: {{matrix.rating}}%">
                                {{matrix.rating}}% Mastery
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>